wsdl/datesVacances.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="exemple" 
	targetNamespace="urn:exemple" 
	xmlns:typens="urn:exemple" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	
	<message name='getDatesVacancesBasicRequest'>
	  <part name='_param' type='xsd:string'/>
	  <part name='_zone' type='xsd:string'/>
	  <part name='_adr' type='xsd:string'/>
	</message>
	<message name='getDatesVacancesBasicResponse'>
	  <part name='_result' type='xsd:struct'/>
	</message>
	
	<message name='getDatesVacancesRequest'>
	  <part name='_param' type='xsd:string'/>
	  <part name='_zone' type='xsd:string'/>
	</message>
	<message name='getDatesVacancesResponse'>
	  <part name='_result' type='xsd:struct'/>
	</message>
	
	<portType name="dvs_instancePortType">
		<operation name='getDatesVacances'>
			<input message='typens:getDatesVacancesRequest'/>
			<output message='typens:getDatesVacancesResponse'/>
		</operation>
		<operation name='getDatesVacancesBasic'>
			<input message='typens:getDatesVacancesBasicRequest'/>
			<output message='typens:getDatesVacancesBasicResponse'/>
		</operation>
	</portType>
	

	<binding name="datesVacancesBinding" type="typens:dvs_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name='getDatesVacances'>
			<soap:operation soapAction="urn:essai_instanceAction"/>
			  <input>
					<soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			  </input>
			  <output>
					<soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			  </output>
		</operation>
		
		<operation name='getDatesVacancesBasic'>
			<soap:operation soapAction="urn:essai_instanceAction"/>
			  <input>
					<soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			  </input>
			  <output>
					<soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			  </output>
		</operation>
	</binding>
	<service name="exempleService">
		<port name="dvs_instancePort" binding="typens:datesVacancesBinding">
			<soap:address location="http://ws.polinux.fr/dvs/srv_datesVacances.php"/>
		</port>
	</service>
</definitions>